$background: rgba(50,10,9,0.8);
$foreground: white;
$bg: $background;
$fg: $foreground;
$dark: rgba(13,15,1,0.8);
$accent: rgba(135,35,65,0.8);
$bright-accent: rgba(240, 89, 65, 0.8);
$accent-bright: $bright-accent;
$text:rgb(255, 211, 176); 
$minPadding: 20px;
$borderRadius: 10px;
$borderDefault: solid 2px $accent;

* {
    all:unset;
}
box {
    font-family: iosevka regular;
}

.bar{
    background-color: $background; 
/*    border-bottom: solid 2px $accent;
*/
}

.bar button{
    padding: 0 $minPadding;
    border-left: 1px solid $accent;
    border-right: 1px solid $accent;
}

box{
    color: $text;
}
.start .markers {
    margin: 1px 5px;
}
.start .marker {
    min-width: 20px;
    min-height: 20px;
    background-size: cover;
    opacity: 0.5;
}
.workspace .text{
    color: white;
    opacity: 0.5;
}

.music .note{
    font-size:24pt;
    padding-top:6px;
}

.external{
    background-color: $background; 
    border: $borderDefault;
    border-radius: $borderRadius;
}

.border{
    border: $borderDefault;
    border-radius: $borderRadius;
}

.pad{
    padding: $minPadding;
}

button:hover{
    background-color: rgba(135,35,65,0.8);
}

slider{
    background-color:$accent;
}

trough highlight {
  all: unset;
  background-color: $bright-accent;
  color: #000000;
}

trough {
  all: unset;
  border:solid 1px #BE3144;
  border-radius: 3px;
  min-height: 10px;
  min-width: 300px;
}

.icon{
    font-size: 18pt;
}

.batteryInfo, .mainAudio .text{
    font-size: 14pt;
}


.musicControls{
    border-top:none;
    border-radius: 0 0 $borderRadius $borderRadius;
}

.musicControls .image{
    border-radius: 10px;
    margin: $minPadding;
    min-width: 390px;
    min-height: 390px;
    background-size:cover;
    background-color: $accent;
}

.musicControls button{
    border-top: $borderDefault;
    font-size:20pt;
    padding: 10px;
}

.musicControls .topBox{
    padding: $minPadding $minPadding;
}

.musicControls .middle{
    border-right: $borderDefault;
    border-left: $borderDefault;
}

.musicSlider trough {
  min-height: 10px;
  min-width: 300px;
}

.musicControls .slider{
    padding: 0 10px;
}
.mainAudio button{
    padding: 0;
}

.topRight{
    border-top: none;
    border-right: none;
    border-radius: 0 0 0 $borderRadius;
}

.topLeft{
    border-top: none;
    border-left: none;
    border-radius: 0 0 $borderRadius 0;
}


.audioList button{
    padding: 0 $minPadding
}

.audioList .active{
    background-color: $accent;
}
.end .performance .scale trough {
    min-width: 50px;
    border-radius: 0;
    border: solid 2px $background;
    padding: 0;
}
.end .performance .scale trough highlight {
    background-color: $accent;
}
.end .performance .barContainer {
    border: $borderDefault;
    background-color: $background;
}
.computerStats trough{
    min-width: 250px;
    border-radius: 0;
}
.computerStats .average{
    padding-bottom: 10px;
}

.processes{
    font-family: Hack;
    background-color: $dark;
}
$netUpColor: $accent-bright;
$netDownColor: $accent;

.graphContainer{
    padding: $minPadding 0 5px $minPadding;
    border-radius: $borderRadius;
    background-color: black;
    border: $borderDefault;
}
.graph{
    border: solid 1px $accent;
    border-top: solid 1px $accent;
}
.graphContainer .download{
    background-color: $netDownColor;
}
.graphContainer .upload{
    background-color: $netUpColor;
}
.graphContainer .graphBar{
    min-width: 8px;
}
.graphContainer .key{
    padding-right: 10px;
}
.graphContainer .uploadKey{
    color: $netUpColor;
}
.graphContainer .downloadKey{
    color: $netDownColor;
}
.graphContainer .key{
    font-size: 18pt;
}
.graphContainer .max{
    min-width: 75px;
    font-size: 10pt;
}
.graphContainer .interfaceName{
    padding-top: 5px;
    font-size: 14pt;
}
.wifiStats button {
    border-top: $borderDefault;
}
.border {
    border: $borderDefault;
}
.borderTop {
    border-top: $borderDefault;
}
.borderBottom {
    border-bottom: $borderDefault;
}
.borderRight{
    border-right: $borderDefault;
}
.borderLeft{
    border-left: $borderDefault;
}
.h1 {
    font-size: 24pt;
}
.h2 {
    font-size: 20pt;
}
.h3 {
    font-size: 16pt;
}
.h4 {
    font-size: 12pt;
}
.white {
    color: white;
}
.hack {
    font-family: Hack;
}
.sensorCatagoryLine{
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}
